

body {
    background-color: rgb(2, 4, 36);
    color: #f2f2f2;
    position: relative;
}

.image{
    border: 5px solid rgb(216, 206, 62);
    border-radius: 10px;
    height: 500px;
}

.titulos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:  950px;
    letter-spacing: 0.3px;
    font-size: 350%;
    text-align: center;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
#titulo1{
    color: rgb(189, 52, 231);
    text-shadow: 5px 5px 1px rgb(98, 221, 215);
}
#titulo2{
    color: rgb(76, 250, 227);
    text-shadow: 5px 5px 1px rgb(201, 29, 224); 
}
.titulos:hover{
    transform: translatey(-20px);
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

#container-home {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: 20px;
}

#boton-home {
    filter: invert(120%) sepia(93%) saturate(1700%) brightness(86%) contrast(101%);
    display: flex;
    text-decoration: none;
    
}
#boton-home p {
    margin: 17px 10px 0 0;
    font-size: 1.2rem;
}

#boton-home p:link {
    text-decoration: none;
}

#boton-home:hover {
    filter: invert(100%);
}

.contenedor-img {
    display: flex;    
    justify-content: center;
    overflow: hidden;
    padding: 40px;
}

.container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.galeria1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.galeria2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.link {
    position: relative;
}

.image {
    transition: all 0.5s;   
}

.image:hover {
    transform: scale(1.1);
}
.galeriaPagina {
    object-fit: cover;
    height: 80vh;
    width: 45v;
}
#primeraimg{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); 
    transition: .5s, color .10s;
        -webkit-transition: .3s, color .8s;
        -moz-transition: .3s, color .8s;
}
#primeraimg:hover{
    transform: translatex(-20px);
        -webkit-transform: translatex(-20px);
        -moz-transform: translatex(-20px);
}

#segundaimg{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .5s, color .10s;
        -webkit-transition: .3s, color .8s;
        -moz-transition: .3s, color .8s;
}

#segundaimg:hover{
    transform: translatex(20px);
        -webkit-transform: translatex(20px);
        -moz-transform: translatex(20px);
}


              

              
              


              

.containerBubbles {
    position: relative;
    width: 100%;
    height: 100%;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(114, 217, 235);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(45, 89, 97),
                0 0 50px rgb(114, 217, 235),
                0 0 100px rgb(114, 217, 235);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: rgb(80, 93, 207);
    box-shadow: 0 0 0 10px rgb(55, 64, 141),
                0 0 50px rgb(80, 93, 207),
                0 0 100px rgb(80, 93, 207);
}

@keyframes animate {

    0% {
        transform: translateY(100vh) scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-10vh) scale(1);
        opacity: 0;
    }
}

